---
import { getCollection } from "astro:content";
import StudioCard from "@/components/studio/studio-card.astro";

const studioLandingPage = await getCollection("studioLandingPage");

const studioLandingPageItems = studioLandingPage
  .flatMap((entry) => entry.data.items)
  .filter((item) => item.published === true);
---

<div class="grid">
  {
    studioLandingPageItems.map((item) => (
      <StudioCard
        title={item.title}
        subtitle={item.subtitle}
        shortenedLogoText={item.shortenedLogoText}
        image={item.image}
        imageAlt={item.imageAlt}
        description={item.description}
        buttonText={item.buttonText}
        destination={item.destination}
      />
    ))
  }
</div>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }
</style>
