---
import { getCollection } from "astro:content";

// const studio = await getCollection("studio", ({ data }) => data.published);
const studioLandingPage = await getCollection("studioLandingPage", ({ data }) =>
  data.items.map((item) => item.published)
);

const studioLandingPageItems = studioLandingPage.flatMap(
  (entry) => entry.data.items
);
---

<div>
  {
    studioLandingPageItems.map((item) => (
      <div>
        <h2>{item.title}</h2>
        <h3>{item.subtitle}</h3>
        <img src={item.image} alt={item.imageAlt} />
        <p>{item.description}</p>
        <a href={item.destination}>{item.buttonText}</a>
      </div>
    ))
  }
</div>
