---
interface Props {
  title: string;
  subtitle: string;
  shortenedLogoText: string;
  image: string;
  imageAlt: string;
  description: string;
  buttonText: string;
  destination: string;
}

const {
  title,
  subtitle,
  shortenedLogoText,
  image,
  imageAlt,
  description,
  buttonText,
  destination,
} = Astro.props;
---

<div class="card" tabindex={0} role="button" aria-label={title}>
  <div class="cardFront">
    <div class="gradientOverlay"></div>
    <img src={image} alt={imageAlt} class="backgroundImage" />
    <div class="textContainer">
      <div class="logoCircle">
        <p class="logoText">{shortenedLogoText}</p>
      </div>
      <div class="titleContainer">
        <h2 class="title">{title}</h2>
        <p>
          <em>{subtitle}</em>
        </p>
      </div>
    </div>
  </div>
  <div class="cardBack">
    <div class="textContainer">
      <p class="description">
        <em>{description}</em>
      </p>
      <a href={destination} class="ctaButton">
        {buttonText}
      </a>
    </div>
  </div>
</div>

<style>
  .card {
    position: relative;
    perspective: 1000px;
    cursor: pointer;
    aspect-ratio: 2/3;
    width: 20rem;
    &:hover,
    &:focus {
      .cardFront {
        transform: rotateY(180deg);
      }
      .cardBack {
        transform: rotateY(0);
      }
    }
  }

  .cardFront,
  .cardBack {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: transform 0.6s;
    box-sizing: border-box;
    border-radius: 1.5rem;
    background-color: teal;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .cardFront {
    color: white;
  }

  .cardBack {
    transform: rotateY(-180deg);
    color: white;
  }

  .textContainer {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 80%;
    height: 100%;
  }

  .logoCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border: 2px solid white;
    border-radius: 50%;
    background-color: teal;
    width: 4.5rem;
    height: 4.5rem;
  }

  .logoText {
    font-weight: 500;
    font-size: 2rem;
  }

  .titleContainer {
    margin-bottom: 1rem;
    text-align: center;
  }

  .title {
    margin-bottom: 0.5rem;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.15em;
  }

  .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    background: linear-gradient(to top, teal, #000, transparent);
    width: 100%;
    height: 100%;
  }

  .description {
    margin-bottom: 1rem;
    text-align: center;
  }

  .ctaButton {
    cursor: pointer;
    border: none;
    border: 2px solid white;
    border-radius: 0.25rem;
    background-color: teal;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      background-color: white;
      color: teal;
    }

    &:active {
      background-color: #eee;
      color: teal;
    }
  }
</style>
